body {
    background-color: #d7f7d7;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #4d4d4d;
    margin-top: 50px;
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(8, 253, 253, 0.219);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
  }
  
  input[type="submit"] {
    background-color: #3a933f;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
        transform: scale(1.05);
        box-shadow: 4px 4px 8px grey;
        background-color: #2b6922;      
  }
  