/* Set global font styles */
body {
    background-color: #d7f7d7;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Style the page header */
  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
  }
  
  /* Style the container div */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFF;
    border: 2px solid#aaff00 ;
    border-radius: 10px;
    box-shadow: 20px 20px 10px #dbff93;
    transition: all 0.4s ease-in-out;
  }

  .container:hover{
    box-shadow: none;
  }
  
  /* Style the video */
  video {
    display: block;
    margin: 0 auto;
  }
  
  /* Style the links and buttons */
  a, button {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    border: 2px solid #aaff00;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    cursor: pointer;
    background-color: white;
    font-weight: bolder;
    transition: all 0.3s ease-in-out
  }
  
  /* Add hover effects to links and buttons */
  a:hover, button:hover {
    background-color: #aaff00;
    color: black;
    transform: scale(1.05);
  }
  
  